body {
  margin: 0;
}

a img {
  border: 0px;
}

a {
  text-decoration: none;
  color: #448aff;
  font-weight: 300;
}

figure {
  margin: 0px !important; 
}

figcaption {
  font-size: 14px;
  margin-top: 5px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.section {
  padding-top: 5px;
  padding-bottom: 35px;
}

.section-body {
  width: 70%;
  margin: auto;
  max-width: 1200px;
}

.section-body ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-body h2, .section-body h3, .section-body, .section-body p, .section-body li {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.section-body h2, .section-body h3 {
  font-weight: bold;
  color: #313131;
  letter-spacing: 1px;
}

.section-body h2 {
  font-size: 35px
}

.section-body h3 {
  font-size: 25px;
  margin-bottom: 0px;
}

.section-body h4 {
  margin-top: 0px;
}

.section-body h4, .section-body h5 {
  margin-bottom: 0px;
  font-weight: 300;
}

.section-body, .section-body p, .section-body li {
  font-size: 18px;
  color: #383a3c;
  font-weight: 300;
}

.mdl-button {
  margin-right: 10px;
  margin-bottom: 13px;
}

.mdl-list__item {
  min-height: 0px;
  padding: 3px;
}

.mdl-list__item-icon {
  margin-right: 5px;
}

.mdl-mega-footer {
  text-align: center;
  height: 130px;
  background-color: #999;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mdl-card-image__caption {
  text-align: center;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.8);
}

.mdl-card-image__entry {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.mdl-data-table {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
}

.mdl-data-table th {
  font-size: 18px;
  font-weight: 300;
}

.mdl-data-table tbody tr {
  height: auto;
}

.mdl-data-table td {
  padding: 6px 10px;
  height: auto;
}

#nsf_logo {
  width: 130px;
  margin-right: 20px;
}

#umass_seal {
  width: 120px;
}

#banner {
  height: 220px;
  padding-top: 80px;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center 75%;
  text-align: center;
}

#logo {
  font: 45px 'Roboto', 'Helvetica', sans-serif;
  line-height: 1;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  margin-bottom: 20px;
}

#slogan {
  font: 25px 'Roboto', 'Helvetica', sans-serif;
  line-height: 1;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

#date {
  font: 25px 'Roboto', 'Helvetica', sans-serif;
  line-height: 1;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

#about {
  padding-top: 25px;
  padding-bottom: 10px;
}

#about p {
  text-align: justify;
}

#organizers, #bibliography, #posters {
  background-color: #ddd;
}

#schedule .mdl-grid {
  padding: 0px !important;
}

.time {
  color: #982833;
  font-weight: 400;
}

.description {
  color: #0a4489;
  font-weight: 400;
}

#organizers .mdl-card-image__caption {
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}

#organizers .principal-investigator {
  vertical-align: auto;
  line-height: 1;
}

#organizers .mdl-card-image {
  width: 150px;
  height: 200px;
}

#posters .mdl-card-image__caption {
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}

#posters .mdl-card-image {
  width: 300px;
  height: 200px;
}

.mdl-card-image__zilberstein {
  background: url('../img/shlomo_zilberstein.jpg') center / cover;
}

.mdl-card-image__roberts {
  background: url('../img/shannon_roberts.jpeg') center / cover;
}

.mdl-card-image__smithdoerr {
  background: url('../img/laurel_smithdoerr.jpg') center / cover;
}

.mdl-card-image__renski {
  background: url('../img/henry_renski.jpg') center / cover;
}

.mdl-card-image__branch {
  background: url('../img/enobong_hannah_branch.jpg') center / cover;
}

.mdl-card-image__poster1 {
  background: url('../img/poster_1.jpg') center / cover;
}

.mdl-card-image__poster2 {
  background: url('../img/poster_2.jpg') center / cover;
}

.mdl-card-image__poster3 {
  background: url('../img/poster_3.jpg') center / cover;
}

.mdl-card-image__poster4 {
  background: url('../img/poster_4.jpg') center / cover;
}

.mdl-card-image__poster5 {
  background: url('../img/poster_5.jpg') center / cover;
}

.yellow {
  color: #d4b003;
  font-weight: normal;
}

.purple {
  color: #673756;
  font-weight: normal;
}

.green {
  color: #3a7a56;
  font-weight: normal;
}

.blue {
  color: #103261;
  font-weight: normal;
}

.red {
  color: #93302f;
  font-weight: normal;
}

@media (max-width: 1024px) {
  #logo {
    font-size: 36px;
    letter-spacing: 3px;
  }

  #slogan {
    font-size: 16px;
    width: 90%;
  }

  .section-body {
    width: 85%;
  }

  figure img {
    width: 100% !important;
    height: auto !important;
    max-width: 400px;
  }
  
  .buttons {
    text-align: center;
  }

  .mdl-cell {
    width: 100%;
  }
}